:root {
  --hue: 210; /* Blue */
  --accent-hue: 25; /* Orange */
  /* Light theme */
  --c-light-text: #333;
  --c-light-background: #fff;
  --c-light-focus: deepskyblue;
  --c-light-interactive: mediumvioletred;
  --c-light-text-color-highlight: hsl(var(--hue), 70%, 45%);
  --c-light-text-color-background: hsl(var(--accent-hue), 45%, 70%);
  --c-light-button-background: hsl(var(--accent-hue), 63%, 43%);
  --c-light-button-text-color: black;

  /* Dark theme */
  --c-dark-text: hsl(var(--hue), 10%, 62%);;
  --c-dark-background: hsl(var(--hue), 20%, 12%);
  --c-dark-focus: deeppink;
  --c-dark-interactive: hsl(var(--hue), 90%, 70%);
  --c-dark-text-color-highlight: hsl(var(--accent-hue), 70%, 45%);
  --c-dark-text-color-background: hsl(var(--hue), 45%, 70%);
  --c-dark-button-background: hsl(var(--hue), 63%, 43%);
  --c-dark-button-text-color: black;
}

.theme-container {
  /* Make the light theme the default */
  --c-text: var(--c-light-text);
  --c-background: var(--c-light-background);
  --c-focus: var(--c-light-focus);
  --c-interactive: var(--c-light-interactive);
   padding: 1.5rem;
  color: var(--c-text);
  background-color: var(--c-background);
}

.dark-mode-checkbox:checked ~ .theme-container {
  /* Override the default theme */
  --c-text: var(--c-dark-text);
  --c-background: var(--c-dark-background);
  --c-focus: var(--c-dark-focus);
  --c-interactive: var(--c-dark-interactive);
  --c-light-text-color-highlight: var(--c-dark-text-color-highlight);
  --c-light-text-color-background : var(--c-dark-text-color-background);
  --c-light-button-background: var(--c-dark-button-background);
  --c-light-button-text-color: var(--c-dark-button-text-color);
}

.dark-mode-label {
  margin-bottom: 1em;
}

:focus,
.dark-mode-checkbox:focus ~ .theme-container .dark-mode-label {
  outline: 2px solid var(--c-focus);
}


/*
* Replace original checkbox
*/

.dark-mode-label::before {
  content: "\2610";
}

.dark-mode-checkbox:checked ~ .theme-container .dark-mode-label::before {
  content: "\2611";
}

/*
visibility-hidden utility class

Source: https://github.com/h5bp/html5-boilerplate

Hide only visually, but have it available for screen readers:
https://snook.ca/archives/html_and_css/hiding-content-for-accessibility

1. For long content, line feeds are not interpreted as spaces
   and small width causes content to wrap 1 word per line:
   https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap; /* 1. */
}

/*
* Grow content to viewport
*/

/*
1. Allows the body’s children to grow to
   100% of the viewport’s height.
*/
html,
body {
  height: 100%; /* 1. */
}

/*
1. Allows the content area to grow to the viewport height.
*/
body {
  display: flex; /* 1. */
  flex-direction: column; /* 1. */
}

/*
1. Grows the content area to take up all the remaining height
   inside the body element.
*/
.grow {
  flex-grow: 1; /* 1. */
}



/*
* Basic styles
*/
body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25em;
  line-height: 1.5;
}
::selection{
  color: var(--c-light-text-color-highlight);
  background: var(--c-light-text-color-background);
}

a {
  color: var(--c-interactive);
}

h1 {
  margin-top: 0;
}

code {
  font-family: 'Fira Mono', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.wrapper {
  max-width: 600px;
}
.nav {
    position: fixed;
    max-width: 290px;
    top: 0px;
    right: 0px;
    width: 150px;
    height: 150px;
    background-color: greenyellow;
  }
.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a {
  display: inline-block;
  font-size: 2.2rem;
  padding: 2rem;
}